# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Simple Search Engine (Kotlin)/*
!/Simple Search Engine (Kotlin)/task/
/Simple Search Engine (Kotlin)/task/*
!/Simple Search Engine (Kotlin)/task/src
